<div id="parte2">
  <p class="text-center"><u><strong>Itens</strong></u></p>
  <table class="xcenter" id="item">
    <!-- item -->
  </table>
  <br>

  <p class="text-center">
    <button class="btn-warning btn"> Resultado &raquo; </button>
  </p>
</div>