<div class="row">
  <div class="col-md-11 col-md-offset-1 col-sm-12 col-xs-12">
    <h3>Trabalho de Pesquisa Operacional</h3>
    <p><strong>Alunos</strong></p>
    <ul>
      <li>Claudio Costa &raquo; 527033</li>
      <li>Cristiano Vicente &raquo; RA 443913</li>
      <li>Vitoria Mendes Lopes Nunes &raquo; RA 525324</li>
    </ul>
    <p>Bacharelandos do 6º semestre de Ciência da Computação na UNIVEM - Fundação Eurípedes Soares da Rocha</p>
    <p>Professor Ricardo Sabatini</p>
  </div>
</div>
