<div id="parte2">
  <p class="text-center"><cite><strong>Variáveis</strong></cite></p>
  <table class="xcenter">
    <tr id="valname">
      <!-- label -->
    </tr>
    <tr id="funcao">
      <!-- Variáveis -->
    </tr>
  </table>
  <br/>

  <p class="text-center"><cite><strong>Restrições</strong></cite></p>
  <table id="restricoes" class="xcenter">

  </table>
  <br>

  <p class="text-center">
    <button class="btn-warning btn"> Resultado &raquo; </button>
  </p>
</div>