<div class="maxh pre-scrollable">
  <!--form action="" method="POST"-->
  <%= form_tag(result_simplex_index_path, class: "form-inline") do %>
      <div class="content">
        <div id="parte1 form-group">
          <p class="text-center"><u><strong>Informações</strong></u></p><br/>
            <label for="quantVariaveis">Quantidade de Variáveis: </label>
            <input type="number" class="form-control fci-size" name="quantVariaveis" id="quantVariaveis" autofocus size="3" min="1" maxlength="1"/>

            <label for="quantRestricoes">&nbsp;Quantidade de Restrições: </label>
            <input type="number" class="form-control fci-size" name="quantRestricoes" id="quantRestricoes" size="3" min="1" maxlength="2"/>
          </div>

          <br>

          <p class="text-center">
            <button class="btn-warning btn" id="btn-valida" onclick="event.preventDefault(); valida();">
              Continuar &raquo; </button>
          </p>
        </div>
        <br/><br/>

        <div id="parte2">
          <p class="text-center"><u><strong>Variáveis</strong></u></p>
          <table class="xcenter">
            <tr id="valname">
              <!-- label -->
            </tr>
            <tr id="funcao">
              <!-- Variáveis -->
            </tr>
          </table>
          <br/>

          <p class="text-center"><u><strong>Restrições</strong></u></p>
          <table id="restricoes" class="xcenter">

          </table>
          <br>

          <p class="text-center">
            <button class="btn-warning btn"> Resultado &raquo; </button>
          </p>
        </div>
      </div>
  <% end %>
</div>
